{% extends 'base.html' %}

{% load static %}


{% block title %}
    Login
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block" style = "padding :50px 0px 0px 20px">
                <img
                  src="https://res.cloudinary.com/ammar992/image/upload/v1632979219/logo_kweiun_q3ca4m.png"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;  width: 80%; margin: 10% 0 0 20%;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form method='POST' action="." enctype="multipart/form-data">{% csrf_token %}
                    <h3 align=center>Login</h3>
                    <hr>
                    {{ form.as_p }}
                
                    <button type='submit' class='{{ btn_class }} btn btn-dark btn-lg btn-block'>{% if submit_btn %} {{ submit_btn }} {% else %}Submit {% endif %}</button>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;"><a href="{% url 'register'%}" style="color: #393f81;">Not have account? Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}