<style>
    #btn{color:#fff;background-color:#d84b6b;border-radius:20px;border:none;width:150px;display:block;margin:10px auto 0;line-height:25px;padding: 5px 0 5px 0 ;}

</style>
<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
    <form method='POST' id='form' action="search_view" enctype="multipart/form-data">
        {% csrf_token %}
        {{ s_form.as_p }}
        
        <button type='submit' id=btn class='{{ btn_class }}'>{% if submit_btn %} {{ submit_btn }} {% else %}Find {% endif %}</button>
    </form>
</div>