{% extends 'base.html'%} {% block title %} Symptoms | Remedies {% endblock title %} {% block content %}
<style>
    /* width */
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
    #ids {
        display: none;
    }
    
    .hide-paitent-fileds {
        display: none
    }
    
    .search-store {
        border: none !important;
        pointer-events: none;
        background: rgb(233, 233, 233);
    }
    
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    /*when hovering an item:*/
    
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }
    /*when navigating through the items using the arrow keys:*/
    
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
    
    #btn-add {
        cursor: pointer !important;
    }
    
    .left-sec {
        width: 49% !important;
        float: left;
    }
    
    .right-sec {
        width: 49% !important;
        float: left;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #trs-hd,
    .bill-header,
    .warning.no-result {
        text-align: center
    }
    
    .bill-header {
        font-size: 12px
    }
    
    .form-control:focus {
        border-color: #25476a;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    
    .bill-header.cs {
        background-color: #25476a;
        color: #fff
    }
    
    .no-result,
    .results tr[visible=false] {
        display: none
    }
    
    .counter {
        padding: 8px;
        color: #ccc
    }
    
    .fa.fa-warning {
        font-size: 18px;
        color: red
    }
    
    .search.form-control {
        border-radius: 0!important
    }
    
    .search-table-col {
        margin-top: 100px
    }
    
    #tabscroll {
        overflow-y: scroll;
        height: 50vh;
    }
</style>
<header class="masthead text-white text-center" style="background: url('https://res.cloudinary.com/ammar992/image/upload/v1630916243/Untitled_design_8_qdhyql.png ') no-repeat center center; padding: 2% 5% 2% 5%;">
    <div class="masthead-content">
        <div class="container">
            <h1 style="font-family: 'Dancing Script', cursive,Georgia">Search Rubics and Remedies. Also store patient data</h1>
            <br>

        </div>
    </div>

</header>
<div class="left-sec">
    <div class="container">
        <br>
        <form id="patientForm">
        <table class="" id="table2">
                <tr>
                    <td class="col-sm-6 col-md-6 col-lg-2" style="!important color:white text-align:left">
                        <h5>Patient Name</h5>
                    </td>
                    <td class="col-sm-6 col-md-6 col-lg-4"><input type='text' class='form-control' name="pname-In-Header" id="pnameInHeader" placeholder="Name" ></td>
                </tr>
                {% comment %}
                <tr style="border:none !important">
                    <td class="col-sm-6 col-md-6 col-lg-2" style="!important color:white text-align:left">
                        <h5>Patient Gender</h5>
                    </td>
                    <td class="col-sm-6 col-md-6 col-lg-4"><input type='text' class='form-control' name="pgenderInHeader" id="pgenderInHeader" onkeyup='fieldDataFunction("gender")' placeholder="Gender" required></td>
                </tr>
                {% endcomment %}
                <tr style="border:none !important">
                    <td class="col-sm-6 col-md-6 col-lg-2" style="!important color:white text-align:left">
                        <h5>Patient Age</h5>
                    </td>
                    <td class="col-sm-6 col-md-6 col-lg-4"><input type='text' class='form-control' name="pageInHeader" id="pageInHeader" placeholder="Age" ></td>
                </tr>
                <tr style="border:none !important">
                    <td class="col-sm-6 col-md-6 col-lg-2" style="!important color:white text-align:left">
                        <h5>Date</h5>
                    </td>
                    <td class="col-sm-6 col-md-6 col-lg-4"><input type='date' class='form-control' name='date' id="pdateInHeader" required></td>
                </tr>
                <tr>
                    <td class="col-sm-6 col-md-6 col-lg-2" style="!important color:white text-align:left">
                        <h5>Patient Gender</h5>
                    </td>
                    <td class="col-sm-6 col-md-6 col-lg-4">
                        <select name="genders" required>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
               </select>
                    </td>
                </tr>
            </table>
        
        <br>

        <div><button type="button" id='mymodal' class="btn btn-success btn-md">Case</button>
            <button type="button" id="hiddenMyModalBtn" data-toggle="modal" data-target="#myModal" hidden="hidden">
            <button type="button" id="hiddenRatingsModalBtn" data-toggle="modal" data-target="#ratingModal" hidden="hidden"></button>
        </div>
        <!-- {% comment %}
            <div style="!important; width:50%;"><button type="button" style="!important; text-align:right;" id='PDFmaker' class="btn btn-info btn-lg" onclick='MakePdf()'>PDF</button></div> {% endcomment %} -->

        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Head-->
                    <div class="modal-header">
                        <h4 class="modal-title">Case Analysis</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!--Table-->
                    <div class="scrollmenu" style="!important; overflow:auto;">
                        <table id='case' class="table table-striped table-bordered"></table>
                    </div>
                    <!--footer-->
                    <div class="modal-footer"></div>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-dark" style="width:120px" data-dismiss="modal">Close</button>
                    </div>
                    <div style='height:10px'> </div>
                </div>
            </div>
        </div>
        <!-- Rating Modal -->
        <div class="modal fade bd-example-modal-lg" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--Head-->
                    <div class="modal-header">
                        <h4 class="modal-title">Remidie Ratings</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!--Table-->
                    <div class="scrollmenu" style="!important; overflow:auto;">
                        <table id='remidieRating' class="table table-striped table-bordered"></table>
                    </div>
                    <!--footer-->
                    <div class="modal-footer"></div>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-dark" style="width:120px" data-dismiss="modal">Close</button>
                    </div>
                    <div style='height:10px'> </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 search-table-col" style=" margin-top:20px !important;;">
                <div class="table-responsive d table table-hover  results">
                
                        <table class="table table-bordered table-hover" id="table2">
                            <thead class="bill-header cs">
                                <tr>
                                    <th id="trs-hd" class="col-lg-2">Rubric</th>
                                    <th id="trs-hd" class="col-lg-3">Remedies</th>
                                </tr>
                            </thead>
                            {% comment %}
                            <div class='hide-paitent-fileds'>
                                <tr>
                                    <td class="col-sm-6 col-md-6 col-lg-6">Patient Name</td>
                                    <td class="col-sm-6 col-md-6 col-lg-5"><input type='text' class='form-control' name="pname" id="patient_name" placeholder="Name" required></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6 col-md-6 col-lg-6">Gender</td>
                                    <td class="col-sm-6 col-md-6 col-lg-5"><input type='text' class='form-control' name="pgender" id="patient_gender" placeholder="Gender"></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6 col-md-6 col-lg-6">Age</td>
                                    <td class="col-sm-6 col-md-6 col-lg-5"><input type='text' class='form-control' name="page" id="patient_age" placeholder="Age" required></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6 col-md-6 col-lg-6">Date</td>
                                    <td class="col-sm-6 col-md-6 col-lg-5"><input type='date' class='form-control' name='date' id="patient_date" required></td>
                                </tr>
                                {% endcomment %}
                            </div>
                            <tbody class="patient-form">
                            </tbody>
                            <tr>
                            </form>
                            </tr>
                        </table>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-success" style="margin-top:20px;margin-left:20px;" id="patientFormbtn">Save this</button>
</div>
<!-- {% include 'tableform.html' %} -->
<div class="right-sec">
    <div class="container">
        <br>
        <div class="col-12 mx-auto">
            <form id='form'>
                <div style="float: left;display: flex;flex-direction: row" class="col-11">
                    <div class="dropdown" style="display:flex;flex-direction:row;">
                        <div style="height: 24px;width:24px; margin: 6px 4px;">
                            <img class="dropdown-icon" style="max-width:100%;max-height:100%;" src=''/>
                        </div>
                        <button class="btn btn-success" data-toggle="dropdown" type="button" id="dropdownMenuButton" 
                        aria-haspopup="true" aria-expanded="false" style="border:1px solid grey;border-radius: 8px 0 0 8px;width: 150px;">
                            Select
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 80vh;overflow: auto;">
                            <div class="dropdown-item" style="display:flex;flex-direction:row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Select</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction:row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1660993573/hpath/7783520_bpmoyi.jpg" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Heart</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053600/hpath/head_zrl3ow.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Head</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053354/hpath/mouth_brlo9h.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Mouth</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053353/hpath/arm_wzkc8f.webp" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Arm</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053542/hpath/hair_kvn9wi.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Hair</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053733/hpath/finger_eixlac.webp" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Finger</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661053733/hpath/nose_uzr4cq.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Nose</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054560/hpath/eye_xf5rwl.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Eye</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054560/hpath/cheek_pdzfhy.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Cheek</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054561/hpath/foot_sjzvmg.webp" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Foot</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054561/hpath/leg_t9k4ye.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Leg</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054560/hpath/teeth_rhulxx.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Teeth</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661054560/hpath/face_fclzpw.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Face</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055333/hpath/knee_jabeeu.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Knee</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055328/hpath/waist_cplskt.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Waist</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055331/hpath/chest_umdcae.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Chest</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055513/hpath/neck_urhseh.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Neck</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055330/hpath/armpit_finfri.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Armpit</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661055332/hpath/chin_qdordk.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Chin</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/thumb_swjswe.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Thumb</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/forehead_zsilrb.webp" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Forehead</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/hip_braf2m.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Hip</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/belly_r93f3v.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Belly</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/navel_ckhnqi.jpg" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Navel</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661057863/hpath/nostrils_xsj7ws.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Nostrils</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059700/hpath/hand_palm_dzxpjk.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Palm</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059701/hpath/shoulder_timkl8.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Shoulder</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059703/hpath/lip_tqyp2o.jpg" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Lip</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059703/hpath/eyebrow_yybuqp.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Eyebrow</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059696/hpath/pulse_quwuyv.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Pulse</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059696/hpath/ear_ejajf3.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Ear</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059698/hpath/lungs_w4q5pb.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Lungs</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059696/hpath/stomach_pakt8g.webp" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Stomach</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059696/hpath/tongue_xtx3rn.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Tongue</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059696/hpath/jaw_os2oyy.jpg" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Jaw</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059698/hpath/liver_fdtuxv.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Liver</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059703/hpath/pupil_lvxjih.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Pupil</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059698/hpath/elbow_bezsif.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Elbow</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059700/hpath/heel_gvamop.jpg" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Heel</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059700/hpath/ankle_oa1fmq.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Ankle</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059724/hpath/nail_bnp6ya.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Nail</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059698/hpath/wrist_ke49q6.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Wrist</span>
                            </div>
                            <div class="dropdown-item" style="display:flex;flex-direction: row;">
                                <div class="dropdown-item-icon" style="height: 24px;width:24px; margin-right: 4px;">
                                    <img src="https://res.cloudinary.com/hpath/image/upload/v1661059705/hpath/throat_uhvjuo.png" style="max-width:100%;max-height:100%;"/>
                                </div>
                                <span class="dropdown-item-text">Throat</span>
                            </div>
                        </div>
                    </div>
                    <input type="text" id='keyword' placeholder="e.g. Vomit" class="form-control form-rounded" style="border-radius: 0px; border:1px solid grey;width: 100%;">
                    <button type='submit' id='btn' class="btn-success" style="border-radius: 0 8px 8px 0; padding:5px 20px; font-weight: 400; width: 150px;border:1px solid grey;width: 150px;">Find</button>
                </div>
                <div style="clear: both;"></div>

            </form>
            <div style="padding: 10px 0 0 20px;margin-bottom:-10px;" id="noResult"></div>
            <div style="padding: 10px 0 0 20px;margin-bottom:-10px;" id="googleResult"></div>
        </div>
        <br>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-2">Rubric</th>
                        <th id="trs-hd" class="col-lg-3">Remedies</th>
                        <th id="trs-hd" class="col-lg-1">Add this </th>
                    </tr>
                </thead>
            </table>
            <div class="col-md-12 " id="tabscroll">

                <table class="" id="table1">
                    <!-- <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-2">Rubric</th>
                            <th id="trs-hd" class="col-lg-3">Remedies</th>
                            <th id="trs-hd" class="col-lg-1">Add this </th>
                        </tr>
                    </thead> -->
                    <tbody id='tbody1'>
                        <!-- {% for x in sym %} 
                  <tr id='{{x.2}}'>                            
                      <td >{{x.0}}</td>
                      <td >{{x.1}}</td>
                      <td id='useless'>                            
                          <div id="abc">
                          <input type="submit" class="btn btn-success" id='{{x.2}}' value='Add this' name="Hello"> 
                              </div>
                      </td>
                  </tr>
                  
                  {% endfor %}-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id='hello' style="clear:both;"></div>

<!-- Trigger the modal with a button -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% comment %}
<script>
    var objDiv = document.getElementById("modal-table-div");
    objDiv.scrollTop = objDiv.scrollHeight;
</script> {% endcomment %}
<script>
    var remiesList = [];
    $(document).on('click', '.abc button', function() {

        var me = $(this).attr('id');

        var result = "";
        var currentRow = $(this).closest("tr");
        var col1 = currentRow.find("td:eq(0)").text();
        // var colname=col1.replace(", ","_");
        // var col= colname.replace(",","-");
        var div1 = "<tr id=t" + me + " class='ridentifier'><td class = 'col-lg-6'>" + col1 + "<div style= 'width:100%'></div><div id=r" + me + " style='border: 1px solid; width: 60px; !important;' class='btn btn-success' onclick='show_ratings(this.id)'>RANK</div></td>";
        var div2 = "<td class = 'col-lg-5'><div><div style='float: left; width: 78% !important;'><input type ='text' style='width:90%' class='search-store' name=" + me + " id=s" + me + "><p style='border:1px solid grey' contentEditable='true' id=i" + me + " onkeyup='myFunction(" + me + ")'></p></div><div style='float: right; width: 18% !important'><div id=" + me + " style='border: 1px solid; width: 34px; !important;' class='btn btn-success' onclick='store(this.id)'>+</div><div id=" + me + " style='border: 1px solid; width: 34px; !important;' class='btn btn-danger' onclick='delstore(this.id)'>-</div></div><div style='clear:both'></div></div><div  id=d" + me + "></div></td></tr>";

        result = div1 + div2;
        $(".patient-form").append(result);
        $("#ids").val(function(index, val) {
            return val + "," + me.toString();
        });


        $(this).prop('disabled', true);
        /*$("#"+me).clone().appendTo("#table2"); 
        $("#table2 tr").find("td:eq(2)").remove();
        // $('#table2').find(':input').prop("disabled", false);
        var currentRow=$(this).closest("tr");
        var col1=currentRow.find("td:eq(0)").text();*/
        $("#symp").val(function(index, val) {
            return val + "\n" + col1;
        });

        var col2 = currentRow.find("td:eq(1)").text();
        let crrRemiesList = col2.split(",");
        for (x of crrRemiesList) {
            x = x.replace(" ", "");
            if (remiesList.indexOf(x) == -1) {
                remiesList.push(x);
            }
        }
    });
    // {% comment %} $('.abc button').bind("click",function(){
    //                 alert("ok");
    //     var me = $(this).attr('id');
    //     alert(me);
    //     $(this).prop('disabled', true);
    //     $("#"+me).clone().appendTo("#table2");   
    //     $("#table2 tr").find("td:eq(2)").remove();
    //  }); {% endcomment %}

    $(document).on('submit', '#form', function(e) {

        var input = $("#dropdownMenuButton").text() + ' ';
        if(input == "Select ")
            input = '';

        input = input + $('#keyword').val();
        document.getElementById("noResult").innerHTML = "";
        document.getElementById("googleResult").innerHTML = "";


        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: "{% url 'search' %}",
            data: {
                'inputValue': input,


            },
            success: function(data) {
                if (data.substring(0, 9) == "noResults"){
                    document.getElementById("noResult").innerHTML = "No results found";
                    if (data.length > 9){
                        document.getElementById("googleResult").innerHTML = "Suggetion By google: " + data.substring(10,data.length);
                    }
                }
                else{
                    $("#tbody1").html(data);
                }
            }
        });

    });
    $(document).on('click', '#mymodal', function(e) {

        var $input = $(".patient-form tr").map(function() {
            return $(this).attr("id");
        }).get();
        const str = $input.toString();
        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: "{% url 'case_analysis' %}",
            data: {
                'inputValue': str,


            },
            success: function(data) {
                $("#case").html(data);
                document.getElementById("hiddenMyModalBtn").click();
            }
        });
    });
</script>
<script>
    // {% comment %} $(document).ready(function(){
    //     alert('loading');

    // }); {% endcomment %}
</script>
{% comment %}
<script>
    function fieldDataFunction(filedhalfID) {
        document.getElementById("patient_" + filedhalfID).value = document.getElementById("p" + filedhalfID + "InHeader").value;
        document.getElementById("patient_" + filedhalfID).value = pIHV;
    }
</script> {% endcomment %}
<script>
    var idForDiv = 1;

    function myFunction(idForAll) {

        const suggestionsPanel = document.getElementById("d" + idForAll);
        var input = document.getElementById("i" + idForAll).textContent;;
        document.getElementById("d" + idForAll).innerHTML = '';
        const suggestions = remiesList.filter(function(remies) {
            return remies.toLowerCase().startsWith(input.toLowerCase());
        });
        suggestions.forEach(function(suggested) {
            const div = document.createElement('div');
            div.setAttribute("id", idForDiv + 'remDiv');
            div.setAttribute("onclick", "myAutoFunction(" + "'" + suggested + "'" + "," + idForAll + ")");
            idForDiv = idForDiv + 1;
            div.innerHTML = suggested;
            suggestionsPanel.appendChild(div);
        });
        if (input === '') {
            suggestionsPanel.innerHTML = '';
        } 
        {% comment %} 
        searchInput.addEventListener('keyup', function() {
            const input = searchInput.value;
            console.log(input);
            suggestionsPanel.innerHTML = '';
            const suggestions = remiesList.filter(function(remies) {
                return remies.toLowerCase().startsWith(input.toLowerCase());
            });
            suggestions.forEach(function(suggested) {
                const div = document.createElement('div');
                // div.setAttribute("id", this.id + "autocomplete-list");
                //div.setAttribute("class", "autocomplete-items");
                div.innerHTML = suggested;
                suggestionsPanel.appendChild(div);
            });
            if (input === '') {
                suggestionsPanel.innerHTML = '';
            }
        }) {% endcomment %}

    }
</script>
<script>
    function show_ratings(divID){
        divID = divID.substring(1);
        $.ajax({
            type: 'GET',
            url: "{% url 'getRating' %}",
            data: {
                'rubricID': divID,


            },
            success: function(data) {
                $("#remidieRating").html(data);
                document.getElementById("hiddenRatingsModalBtn").click();
            }
        });
    }
</script>
<script>
{% comment %}     
    console.log(document.getElementsByClassName("autocomplete-items-class"))
    document.getElementsByClassName("autocomplete-items-class").onclick = function() {
        myAutoFunction()
    }; {% endcomment %}

    function myAutoFunction(textOfdiv, pTagID) {
        document.getElementById("i" + pTagID).innerHTML = textOfdiv;
        document.getElementById("d" + pTagID).innerHTML = '';
    }
</script>
<script>
    {% comment %}

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }
    autocomplete($('.search-input'), remiesList);
     {% endcomment %}

    function store(id) {
        var current = $('#i' + id).text();
        console.log(current);
        $("#s" + id).val(function(index, val) {
            $('#i' + id).text('');
            return val + "|" + current;

        });
    }

    function delstore(id) {
        var current = $('#i' + id).val();
        console.log(current);
        return $("#s" + id).val("")
    }

    $('#patientFormbtn').click(function() {
        // get all the inputs into an array.

        

       
        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.
       
        var values = [];
        $('#patientForm :input').each(function() {
            var input= $(this);
            name = this.name;
            value = $(this).val();
            vals = name + '?' + value;
            console.log(vals);
            values.push(vals);
        });

        values_text = values.toString();


        //     $(document).on('submit', '#form',function (e) {
        // var input = $('#keyword').val();
        // e.preventDefault();
        $.ajax({
            type: 'GET',
            url: "{% url 'submit_view' %}",
            data: {
                'values_text': values_text,
            },
            success: function(data) {
                alert('Data Saved Sucessfully');
                location.reload();
                return false;
            }
        });


    });
    jQuery.fn.extend({
        attrs: function(attributeName) {
            var results = [];
            $.each(this, function(i, item) {
                results.push(item.getAttribute(attributeName));
            });
            return results;
        }
    });
    // alert('Hold2');
    // $("#hello").html(values);

    // });
</script>
{% comment %}
<script>
    function pname() {
        alert("1"); { % comment %
        }
        var value = $(this).val();
        console.log(value);
        $("pname").val(value);
    }
</script>
{% endcomment %} {% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script> {% endcomment %} {% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>
<script>
    function MakePdf() {
        alert('1');
        var doc = new jsPDF();
        console.log(doc)
        var doc = new jsPDF();
        var elementHandler = {
            '#ignorePDF': function(element, renderer) {
                return true;
            }
        };
        alert('2');
        var source = window.document.getElementsByTagName("body")[0];
        doc.fromHTML(
            source,
            15,
            15, {
                'width': 180,
                'elementHandlers': elementHandler
            });

        doc.output("dataurlnewwindow");
    }
</script> {% endcomment %}
<script>
    document.getElementById('pdateInHeader').value = new Date().toISOString().substring(0, 10);
    $(function(){
        $(".dropdown-item").click(function(){
            console.log();
            $(".dropdown-icon").attr('src', $(this).children(".dropdown-item-icon").children("img").attr('src'));
            $("#dropdownMenuButton").text($(this).children(".dropdown-item-text").text());
        });
    });
</script>
{% comment %}
<script>
    const d = new Date();
    let day = d.getDate().toString();
    let month = d.getMonth().toString();
    let year = d.getFullYear().toString();
    console.log(typeof(day));
    if (day.length == 1) {
        day = "0" + day;
    }
    if (month.length == 1) {
        month = "0" + month;
    }
    document.getElementById("date").value = month + '/' + day + '/' + year;
</script> {% endcomment %} {% endblock content %}