{% extends 'base.html'%}

{% block title %}
 Symptoms | Remedies
{% endblock title %}
{% block content %}
<style>
    #ids
    {
        display: none;
    }
    .search-store
    {
        border: none !important;
        pointer-events:none;
        background:rgb(233, 233, 233);
    }
    .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
#btn-add
{
    cursor: pointer !important; 
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous" defer></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous" defer></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>#trs-hd,.bill-header,.warning.no-result{text-align:center}.bill-header{font-size:12px}.form-control:focus{border-color:#25476a;outline:0;-webkit-box-shadow:none;box-shadow:none}.bill-header.cs{background-color:#25476a;color:#fff}.no-result,.results tr[visible=false]{display:none}.counter{padding:8px;color:#ccc}.fa.fa-warning{font-size:18px;color:red}.search.form-control{border-radius:0!important}.search-table-col{margin-top:100px}</style>
<header class="masthead text-white text-center" style="background: url('https://res.cloudinary.com/ammar992/image/upload/v1630916243/Untitled_design_8_qdhyql.png ') no-repeat center center; padding: 5% 5% 5% 5%;">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Go Back to Homepage</h1><a class="btn rounded-pill mt-5" role="button" href="{% url 'home' %}" style="background-color: #d84b6b; color : white;width: 20%;height: 15%px;font-size: 22px;">Home</a></div>
    </div>
    <div class="container">
        <br>
        <br>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form id='form'>
     
                <input type="text" id='keyword' placeholder="e.g. Abrupt">
                
                <button type='submit' id='btn' >Find</button>
            </form>

        </div>
        
    </div>
</header>
  
    <!-- {% include 'tableform.html' %} -->
    <div class="container">
        <div class="col-md-12 search-table-col">
            <div class="table-responsive table-bordered table table-hover table-bordered results">
                <table class="table table-bordered table-hover" id="table1">
                    <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-2">Rubric</th>
                            <th id="trs-hd" class="col-lg-3">Remedies</th>
                            <th id="trs-hd" class="col-lg-1">Add this </th>
                           
                            
                        </tr>
                    </thead>
                    <tbody id='tbody1'>
                        <!-- {% for x in sym %} 
    
                        <tr id='{{x.2}}'>                            
                            <td >{{x.0}}</td>
                            <td >{{x.1}}</td>
                            <td id='useless'>                            
                                <div id="abc">
                                <input type="submit" class="btn btn-success" id='{{x.2}}' value='Add this' name="Hello"> 
                                    </div>
                            </td>
                        </tr>
    
                        {% endfor %}-->
                    </tbody> 
                </table>
                
            </div>
        </div>
    </div>
    <div id='hello'></div>
    
    <!-- <div class="container">
        <div class="col-md-12 search-table-col">
            <div class="table-responsive table-bordered table table-hover table-bordered results">
                <table class="table table-bordered table-hover" id="table2">
                    <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" class="col-lg-2">Rubric</th>
                            <th id="trs-hd" class="col-lg-3">Remedies</th>
                            
                        </tr>
                    </thead>
                    <tbody >
                    
                    </tbody>
                </table>
                
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="col-md-12 search-table-col">
            <div class="table-responsive d table table-hover  results">
                <form id="patientform">
                    <table class="table table-bordered table-hover" id="table2">
                        <thead class="bill-header cs">
                            <tr>
                                <th id="trs-hd" class="col-lg-2">Rubric</th>
                                <th id="trs-hd" class="col-lg-3">Remedies</th>
                                
                            </tr>
                        </thead>
                        <tr>
                            <td class="col-sm-6 col-md-6 col-lg-6">Patient Name</td>
                            <td class="col-sm-6 col-md-6 col-lg-5"><input type ='text' class = 'form-control' name="pname" id="patient_name" placeholder="e.g. Ali" required></td>
                        </tr>
                        <tr>
                            <td class="col-sm-6 col-md-6 col-lg-6">Date</td>
                            <td class="col-sm-6 col-md-6 col-lg-5"><input type ='date' class = 'form-control' name='date' id="date" required ></td>
                        </tr>
                        
                <tbody class ="patient-form">
                    
                </tbody>
                <tr>
                    <td colspan="2">
                <button class="btn-success" style="margin-top:20px;" type="submit" >{% if submit_btn %} {{ submit_btn }} {% else %}Save this {% endif %}</button>
                </td>
                </tr>
                <!-- {% comment %} <table class="table  table-hover" id="table2">
                        {% csrf_token %}
                        <thead class="bill-header cs">
                            <tr>
                                <th colspan="2">Patient Form</th>
                            </tr>
                        </thead>
                    <tbody >
                    <tr>
                        <td class="col-lg-2">Symptoms :</td>
                        <td>{{pForm.symptom}}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">Remedy Given :</td>
                        <td>
                            <div style="float: left; width: 90% !important;">{{pForm.remedies}}</div><div style="float: right; width: 9% !important;border: 1px solid;" class="btn btn-success" onclick="store()">+</div>
                            <div>{{pForm.remedy_given}}</div>
                            <div id= 'suggestions' style = "padding-left:15px"><div>
                        </td>
                    </tr><tr>
                        <td class="col-lg-2">Patient Name :</td>
                        <td>{{pForm.patient_name}}</td>
                    </tr><tr>
                        <td class="col-lg-2">Date :</td>
                        <td> {{pForm.date}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                    <button class="btn-success" style="margin-top:20px;" type="submit" >{% if submit_btn %} {{ submit_btn }} {% else %}Save this {% endif %}</button>
                    </td>
                    </tr>
                </tbody>
            </table> {% endcomment %} -->
            </table>
        </form>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


<script>
        
        var remiesList = [];
        $(document).on('click','.abc button',function() {
        
        var me = $(this).attr('id');

        var result = "";
        var currentRow=$(this).closest("tr");
        var col1=currentRow.find("td:eq(0)").text();
        // var colname=col1.replace(", ","_");
        // var col= colname.replace(",","-");
        var div1 = "<tr id=t"+me+" class='ridentifier'><td class = 'col-lg-6'>"+col1+"</td>";
        var div2 = "<td class = 'col-lg-5'><div><div style='float: left; width: 78% !important;'><input type ='text' style='width:90%' class='search-store' name="+me+" id=s"+me+"></div><div id="+me+" style='float: right; width: 9% !important;border: 1px solid;' class='btn btn-success' onclick='store(this.id)'>+</div><div id="+me+" style='float: right; width: 9% !important;border: 1px solid;' class='btn btn-danger' onclick='delstore(this.id)'>-</div><div style='clear:both'></div><p style='border:1px' contentEditable='true' id=i"+me+" class = 'form-control' onkeyup='myFunction("+me+")'></p></div><div  id=d"+me+"></div></td></tr>";
        
        result = div1+div2;
        $(".patient-form").append(result);
        $( "#ids" ).val( function( index, val ) {
        return val + ","+ me.toString();
            });
        
        
        $(this).prop('disabled', true);
        /*$("#"+me).clone().appendTo("#table2"); 
        $("#table2 tr").find("td:eq(2)").remove();
        // $('#table2').find(':input').prop("disabled", false);
        var currentRow=$(this).closest("tr");
        var col1=currentRow.find("td:eq(0)").text();*/
        $( "#symp" ).val( function( index, val ) {
            return val +"\n"+col1;
            }); 
        
        var col2=currentRow.find("td:eq(1)").text();
        let crrRemiesList = col2.split(",");
        for (x of crrRemiesList) {
            x = x.replace(" ","");
            if(remiesList.indexOf(x) == -1)  
            {
                remiesList.push(x);  
            }
        }
        });
    // {% comment %} $('.abc button').bind("click",function(){
    //                 alert("ok");
    //     var me = $(this).attr('id');
    //     alert(me);
    //     $(this).prop('disabled', true);
    //     $("#"+me).clone().appendTo("#table2");   
    //     $("#table2 tr").find("td:eq(2)").remove();
    //  }); {% endcomment %}
    $(document).on('submit', '#form',function (e) {

        var input = $('#keyword').val();

        e.preventDefault();

        $.ajax({
            type:'GET',
            url:"{% url 'search' %}",
            data: {
              'inputValue': input,
              
              
            },
            success: function (data) {
                $("#tbody1").html(data);
            }
          });

        });
        </script>

            
   
    <script>
        // {% comment %} $(document).ready(function(){
        //     alert('loading');

        // }); {% endcomment %}
        </script>
    <script>
    var idForDiv = 1;
    function myFunction(idForAll) {

        const suggestionsPanel = document.getElementById("d"+idForAll);
        var input = document.getElementById("i"+idForAll).textContent;;
        document.getElementById("d"+idForAll).innerHTML = '';
        const suggestions = remiesList.filter(function(remies) {
            return remies.toLowerCase().startsWith(input.toLowerCase());
        });
        suggestions.forEach(function(suggested) {
            const div = document.createElement('div');
            div.setAttribute("id", idForDiv+'remDiv');
            div.setAttribute("onclick", "myAutoFunction("+"'"+suggested+"'"+","+idForAll+")");
            idForDiv = idForDiv+1;
            div.innerHTML = suggested;
            suggestionsPanel.appendChild(div);
        });
        if (input === '') {
            suggestionsPanel.innerHTML = '';  
        }
        {% comment %} searchInput.addEventListener('keyup', function() {
            const input = searchInput.value;
            console.log(input);
            suggestionsPanel.innerHTML = '';
            const suggestions = remiesList.filter(function(remies) {
                return remies.toLowerCase().startsWith(input.toLowerCase());
            });
            suggestions.forEach(function(suggested) {
                const div = document.createElement('div');
                // div.setAttribute("id", this.id + "autocomplete-list");
                //div.setAttribute("class", "autocomplete-items");
                div.innerHTML = suggested;
                suggestionsPanel.appendChild(div);
            });
            if (input === '') {
                suggestionsPanel.innerHTML = '';  
            }
        }) {% endcomment %}
        
    }
    </script>
    <script>
        {% comment %} console.log(document.getElementsByClassName("autocomplete-items-class")) 
        document.getElementsByClassName("autocomplete-items-class").onclick = function() {myAutoFunction()}; {% endcomment %}
        function myAutoFunction(textOfdiv,pTagID) {
            document.getElementById("i"+pTagID).innerHTML = textOfdiv;
            document.getElementById("d"+pTagID).innerHTML = '';
        }
    </script>
    <script>
        {% comment %} function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
              closeAllLists(e.target);
          });
        } {% endcomment %}
        {% comment %} autocomplete($('.search-input'), remiesList); {% endcomment %}
        function store(id){
            var current=$('#i'+id).text();
            console.log(current);
        $( "#s"+id ).val( function( index, val ) {
            $('#i'+id).text('');
            return val +"|"+current;
            
            });  
        }
        function delstore(id){
            var current=$('#i'+id).val();
            console.log(current);
        return $( "#s"+id ).val("")
        }
   
    $('#patientform').submit(function() {
    // get all the inputs into an array.
    var $inputs = $('#patientform :input');
    // not sure if you wanted this, but I thought I'd add it.
    // get an associative array of just the values.

    var values = [];
    $inputs.each(function() {
        name=this.name;
        value=$(this).val();
        vals=name+'?'+value;
        values.push(vals);
        console.log(vals);
    });
    values_text=values.toString();
//     $(document).on('submit', '#form',function (e) {
// var input = $('#keyword').val();
// e.preventDefault();
$.ajax({
    type:'GET',
    url:"{% url 'submit_view' %}",
    data: {
      'values_text': values_text,
      
      
    },
    success: function (data) {
        console.log(data);
    }
  });

});
    // alert('Hold2');
    // $("#hello").html(values);

// });
</script>  
{% comment %} <script>
    const d = new Date();
    let day = d.getDate().toString();
    let month = d.getMonth().toString();
    let year = d.getFullYear().toString();
    console.log(typeof(day));
    if (day.length == 1) {
        day = "0" + day;
    }
    if (month.length == 1) {
        month = "0" + month;
    }
    document.getElementById("date").value = month+'/'+day+'/'+year;
</script>       {% endcomment %}
{% endblock content %}